html {
    font-size: 62.5%; // i.e. use a base-10 rem unit
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: default;
}